body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.message-button {
  height: 50px;
  width: 150px;
  background-color: rgb(216, 142, 30);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.message-button:hover {
  background-color: rgb(185, 112, 15);
}

.input-field {
  height: 40px;
  width: 300px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
